* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: silver;
}

/* SPECIAL NAVIGATION */

.page-title {
    width: 100%;
    text-align: center;
}

.return-navigation {
    text-align: center;
}

/* MOVIES */



.movies-all,
.reviews-all {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.movie-single {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 256px;
    margin: 1rem;
    padding: 0.5rem;
    overflow: hidden;
    background-color: slategray;
}

.movie-single h2,
.movie-single p,
.movie-single a {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.movie-image-container {
    width: 256px;
    height: 352px;
    overflow: hidden;
    background-color: black;
}

.movie-image {
    width: 256px;
    height: auto;
}



/* REVIEWS */


.movie-review,
.movie-review__form {
    margin: 1rem;
    padding: 0.5rem;
    background-color: white;
    box-shadow: 2px 2px 2px black;
}

.movie-review__form>div {
    display: flex;
    flex-direction: column;
}



/* ERRORS */


.error {
    padding: 0.2rem;
    color: white;
    background-color: tomato;
    border: 2px dashed orange;
}

.error-field {
    box-shadow: 0 2px 2px red;
}

/* LOGIN */

#login {
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 512px;
    padding: 1rem;
    background-color: antiquewhite;
}
